@import "tailwindcss";

@theme {
    --color-dark-primary: #2a2a2a;
    --color-dark-secondary: #252526;
    --color-dark-tertiary: #1c1c1c;

    --color-smoke: #6a7282;
    --color-chalk: #d1d5dc;

    --color-accent-primary: #088f8f;

    --font-sans: system-ui, "Segoe UI", Roboto, sans-serif;
    --font-mono: ui-monospace, Consolas, monospace
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
    
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

:root {
	font: 18px/145% var(--font-sans);
	letter-spacing: 0.18px;
	color-scheme: light dark;
	background: var(--color-dark-primary);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	@media (max-width: 1024px) {
		font-size: 16px;
	}
}